    <link rel="stylesheet" href="/assets/css/pricing.css">
    {{> nav }}
    {{> login-modal }}
    
    <!-- Plans -->
    <section id="plans">
        <div class="container">
            <div class="row">

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Custom Basketball Plant</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$100-$200 </strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Personal use</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Choose ball and chain color (silver, yellow, or white)</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Please allow 24-48 hours for a response</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-danger" href="#">BUY NOW!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->


            </div>
        </div>
    </section>
    <!-- /Plans -->