<link rel="stylesheet" href="/assets/css/plants.css">
{{> nav }}
{{> login-modal }}
{{> new-plant-modal }}

<div class="all-plants-container container">
	
	<div class="row">
		{{#if plant }}
		{{#each plant}}
		<div class="plant-container col-xs-12 col-sm-6 col-lg-6">
			<div class="plant-subcontainer plant-default">
				<h3 class="lead">
					Plant: {{ this.dataValues.name }}
				</h3>
				<div class="bottom-plant-container">
					<div class="destination-container">
						<p class="destination">
							{{ this.dataValues.destination }}
						</p>
					</div>
					<button type="button" class="btn btn-circle"><i class="">10</i></button>
				</div>
			</div>
		</div>
		{{/each}}
		{{/if}}
	<button id="add-plant-button" data-toggle="modal" data-target="#squarespaceModal" type="button" class="btn btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
	</div>
</div>